<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="snow_collision_v1">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-5.55111512312578E-17 1.66533453693773E-16 0.0431969168006088"
        rpy="0 0 0" />
      <mass
        value="0.404000000070774" />
      <inertia
        ixx="0.00166450539529181"
        ixy="5.42101086242752E-20"
        ixz="-4.17242885694585E-20"
        iyy="0.00166450539529181"
        iyz="-4.66213162279704E-21"
        izz="0.00317940661394847" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find snow_sim)/meshes_visual/wm1_brake_enc.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find snow_sim)/meshes_collision/wm1_brake_enc.STL" />
      </geometry>
    </collision>
  </link>
  

</robot>


